<div class="header_slide">
    <div class="header_bottom_left">
        @{Html.RenderAction("HSX", "DANHMUC");}
        
    </div>
    <link href="~/Content/css/slider1.css" rel="stylesheet" />
    <link href="~/Content/css/style1.css" rel="stylesheet" />
    <div class="header_bottom_right">
        <div class="slider">
            <div id="slider">
                <div id="mover">
                    <div class="slide">
                        <div class="slider-img">
                            <img src="/Content/images/banner.png" alt="learn more" style="top: 20px;" width="1300px" height="379px">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>