@model Mars_Store.Models.Entities.PHANQUYEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}



<h3>BẠN CÓ THỰC SỰ MUỐN XÓA?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2" for="ID_TK">TÀI KHOẢN</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">

    @Html.ActionLink("QUAY LẠI", "Index")
    | <input type="submit" value="XÓA" class="btn btn-default" /> 
</div>
    }
</div>
